#app{
    .slidebar-wraper{
        .el-menu{
            background: #304156;
                
        }
        .el-sub-menu__title,
        .el-menu-item-group__title,
        .el-menu-item{
            color: #fff;
        }
        .el-menu-item.is-active{
            color: #409eff;
        }
        .el-menu-item:hover{
            background: #001528;
        }
        .el-sub-menu__title:hover{
            background: #263445;
        }
    }
}