#app{
    .slidebar-wraper{
        .el-menu{
            background: #304156;

        }
        .el-menu-item{
            color: rgb(64, 158, 255);;
        }
        .el-menu-item:hover{
            background-color: #263445!important;
        }
    }
}